html, body
{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
}

#datum
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5em;
	margin: 0px;
}

